

    @{
        ViewBag.Title = "Index";
        //ViewBag.Title = "代辦事項";
    }


<body>
    <h2>代辦事項</h2>
    <p>
        @Html.ActionLink("代辦事項", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                編號
            </th>
            <th>
                標題
            </th>
            <th>
                圖示
            </th>
            <th>
                完成日
            </th>
        </tr>

    </table>
    <input name="id" id="1" />
    <input name="id" />
    <br />
    <br />
    <input name="id" type="button" value="Try it" />

</body>




